<div class="card horizontal">
  <div class="card-image">
    <!-- Day/night background -->
    <img *ngIf="values.light_intensity > 200" src="../../assets/images/day.png">
    <img *ngIf="values.light_intensity <= 200" src="../../assets/images/night.png">
    <!-- Sun/cloud/moon/rain/snow icon -->
    <div *ngIf="values.light_intensity > 300 && values.humidity < 65" class="card-icon" style="background-image: url('../../assets/images/sun.png')"></div>
    <div *ngIf="values.light_intensity <= 300 && values.light_intensity > 200 && values.humidity < 65" class="card-icon" style="background-image: url('../../assets/images/cloudy.png')"></div>
    <div *ngIf="values.light_intensity < 200 && values.humidity < 65" class="card-icon" style="background-image: url('../../assets/images/moon.png')"></div>
    <div *ngIf="values.temperature > 0 && values.humidity >= 65" class="card-icon" style="background-image: url('../../assets/images/rain.png')"></div>
    <div *ngIf="values.temperature <= 0 && values.humidity >= 65" class="card-icon" style="background-image: url('../../assets/images/snow.png')"></div>

    <!-- Localization/temperature -->
    <span class="card-title background-title">Saint-Quentin, {{ values.temperature }}°C</span>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <ul class="collapsible expendable">
        <!-- Humidity -->
        <li class="active">
          <div class="collapsible-header">
            <i class="material-icons">invert_colors</i>
            Humidité
            <div class="collapsible-value">
              <span *ngIf="values.humidity < 25" class="badge" [ngClass]="{ 'orange': values.humidity < 25 }">Temps sec</span>
              <span *ngIf="values.humidity >= 25 && values.humidity < 45" class="badge" [ngClass]="{ 'orange': values.humidity >= 25 && values.humidity < 45 }">Normal</span>
              <span *ngIf="values.humidity >= 45 && values.humidity < 65" class="badge" [ngClass]="{ 'blue': values.humidity >= 45 && values.humidity < 65 }">Humide</span>
              <span *ngIf="values.humidity > 65" class="badge" [ngClass]="{ 'dark-blue': values.humidity > 65 }">Très humide</span>
            </div>
          </div>
          <div class="collapsible-body">
            <p>Taux d'humidité : <b>{{ values.humidity }}%</b></p>
          </div>
        </li>
        <!-- Sunlight -->
        <li>
          <div class="collapsible-header">
            <i class="material-icons">brightness_5</i>
            Ensoleillement
            <div class="collapsible-value">
              <span *ngIf="values.light_intensity < 250" class="badge" [ngClass]="{ 'dark-grey': values.light_intensity < 250 }">Couvert</span>
              <span *ngIf="values.light_intensity >= 250 && values.light_intensity < 400" class="badge" [ngClass]="{ 'grey': values.light_intensity >= 250 && values.light_intensity < 400 }">Nuageux</span>
              <span *ngIf="values.light_intensity >= 400" class="badge" [ngClass]="{ 'yellow': values.light_intensity >= 400 }">Ensoleillé</span>
            </div>
          </div>
          <div class="collapsible-body">
            <p>Intensité lumineuse : <b>{{ values.light_intensity }} lx</b></p>
            <p>Luminosité visible : <b>{{ values.visible_light }}</b></p>
          </div>
        </li>
        <!-- Light sensity/UV -->
        <li>
          <div class="collapsible-header">
            <i class="material-icons">flare</i>
            UV
            <div class="collapsible-value">
              <span *ngIf="values.ultraviolet >= 0 && values.ultraviolet < 3" class="badge" [ngClass]="{ 'green': values.ultraviolet >= 0 && values.ultraviolet < 3 }">Faible</span>
              <span *ngIf="values.ultraviolet >= 3 && values.ultraviolet < 6" class="badge" [ngClass]="{ 'yellow': values.ultraviolet >= 3 && values.ultraviolet < 6 }">Modéré</span>
              <span *ngIf="values.ultraviolet >= 6 && values.ultraviolet < 8" class="badge" [ngClass]="{ 'orange': values.ultraviolet >= 6 && values.ultraviolet < 8 }">Élevé</span>
              <span *ngIf="values.ultraviolet >= 8" class="badge" [ngClass]="{ 'red': values.ultraviolet >= 8 }">Très élevé</span>
            </div>
          </div>
          <div class="collapsible-body">
            <p>Indice : <b>{{ values.ultraviolet }}</b></p>
            <p *ngIf="values.ultraviolet >= 0 && values.ultraviolet < 3">Aucune protection nécessaire.</p>
            <p *ngIf="values.ultraviolet >= 3 && values.ultraviolet < 6">Protection nécessaire, pensez à utiliser de la crème solaire de protection suffisante.</p>
            <p *ngIf="values.ultraviolet >= 6 && values.ultraviolet < 8">Protection indispensable, utilisez de la crème solaire de protection suffisante.</p>
            <p *ngIf="values.ultraviolet >= 8">Protection obligatoire, évitez l'exposition au soleil entre 11h et 16h.</p>
          </div>
        </li>
        <!-- Infrared -->
        <li>
          <div class="collapsible-header"><i class="material-icons">wb_incandescent</i>Infrarouge<div class="collapsible-value">{{ values.infrared }}</div></div>
        </li>
      </ul>
      <p class="collapsible-footer">Mise à jour le {{ today | date:'EEEE dd MMMM y':'UTC+01:00':'fr' }} à {{ today | date:'H:mm':'UTC+01:00':'fr' }}
    </div>
  </div>
</div>
