<div class="center-align center-caption">
  <div class="col s12">
      <div class="header">
          <h3 class="white-text">Hifebo</h3>
      </div>
      <app-weather></app-weather>
    </div>
</div>
<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url('../../assets/images/landscape.jpeg');">
    </li>
    <li>
      <img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url('../../assets/images/landscape-2.jpeg');">
    </li>
    <li>
      <img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url('../../assets/images/landscape-5.jpeg');">
    </li>
  </ul>
  <div class="fullscreen-footer">
    <div class="item white-text">Copyright Debacker, Jandard, Flament ©2018</div>
  </div>
</div>
